div#header
    nav 
        ul.bar 
            li  
                a(href="/home").font#logo 
                    h1.font RexArt
            li
                a(href="/myprofile").font My Profile
            li
                a(href="/artwork").font Artworks
            li
                a(href="/myprofile/notifications").font Notifications
            li
                a(href="/logout").font Log Out